__pycache__/
*.py[cod]

.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv 

Pipfile
Pipfile.lock

*.spec

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.log
*.sqlite3

.streamlit/

.env
.env.local
.env.*.local

.DS_Store

Thumbs.db

*~
